
html{
    background-color: black;
    color: white;
}

#landing {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
    width: 100%;
    text-align: center;
}

#landing p {
    color: white;
}

#landing a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#nav {
    float: right;
    position: fixed;
    right: 40px;
    bottom: 60px;
}

#scale-bar {
    position: fixed;
    bottom: 80px;
    left: 60px;
    
    height: 75px;
    width: 10px;
    background-color: white;
    z-index: 100;
}

#scale {
    position: fixed;
    bottom: 60px;
    left: 200px;
}

#au-scale {
    position: fixed;
    bottom: 60px;
    left: 100px;
}

/*planets (and the sun)*/
.stop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    color: white;
    text-align: center;
}

.container {
    height: 700px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sun {
    
}

#sun img {
    height: 100%;
    width: auto;
}

#mercury {
    
}

#mercury img {
    height: .35%;
    width: auto;
}

#venus {
    
}

#venus img {
    height: .87%;
    width: auto;
}

#earth {
    
}

#earth img {
    height: .92%;
    width: auto;
}

#mars {
    
}

#mars img {
    height: .49%;
    width: auto;
}

#asteroid-belt {
    height: 50px;
    width: 100%;
    background-image: url("")
    
    background-color: white;
}

#asteroid-belt img {
    height: 50px;
    width: auto;
}

#jupiter {
    
}

#jupiter img {
    height: 10.26%;
    width: auto;
}

#saturn {
    
}

#saturn img {
    height: 8.62%;
    width: auto;
}

#uranus {
    
}

#uranus img {
    height: 3.68%;
    width: auto;
}

#neptune {
    
}

#neptune img {
    height: 3.49%;
    width: auto;
}



/*gaps*/
.gap {
    
}

#sun-mercury {
    height: ;
}

#mercury-venus {
    height: ;
}

#venus-earth {
    height: ;
}

#earth-mars {
    height: ;
}

#mars-asteroid {
    height: ;
}

#asteroid-jupiter {
    height: ;
}

#jupiter-saturn {
    height: ;
}

#saturn-uranus {
    height: ;
}

#uranus-neptune {
    height: ;
}






